# Add your project dependencies here
# pip install -r requirements.txt

llama_index
llama-hub
llama-index-llms-openai
llama-index-extractors-entity
llama-index-agent-openai
textwrap3
python-dotenv
unstructured
cohere
llama-index-postprocessor-cohere-rerank
pip-review
deepeval